body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: block;
}
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}
.login-container h1 {
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
}
.login-form {
    display: flex;
    flex-direction: column;
}
.login-form input {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-form input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
.login-form input[type="submit"]:hover {
    background-color: #4cae4c;
}
.login-form .login-options {
    text-align: center;
    margin-top: 1rem;
}
.login-form .login-options a {
    color: #5cb85c;
    text-decoration: none;
}
.login-form .login-options a:hover {
    text-decoration: underline;
}
.login-btn {
display: inline-block;
padding: 10px 20px;
background-color: #498d6c;
color: white;
text-align: center;
text-decoration: none;
border-radius: 5px;
font-weight: bold;
margin-top: 20px;
}
.login-btn:hover {
background-color: #5C8D89;
}